
body {
    background-color: black;
}


/* sonia */

.section-display{
    display: flex;
    flex-direction: column;
    gap: 48px;
}


.bg-gradient {
    background-color: hsla(352, 100%, 50%, 1);
    background-image:
        radial-gradient(at 59% 100%, hsla(154, 67%, 87%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(0, 97%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 61% 36%, hsla(15, 99%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 90% 11%, hsla(10, 76%, 68%, 1) 0px, transparent 50%),
        radial-gradient(at 42% 9%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
        radial-gradient(at 46% 81%, hsla(154, 67%, 87%, 1) 0px, transparent 50%),
        radial-gradient(at 11% 16%, hsla(342, 98%, 78%, 1) 0px, transparent 50%);
}

.clip-sloped-25 {
    clip-path: polygon(25px 0%,
            calc(100% - 25px) 0%,
            100% 25px,
            100% calc(100% - 25px),
            calc(100% - 25px) 100%,
            25px 100%,
            0% calc(100% - 25px),
            0% 25px);

}


/* polina (burger menu) */

.burger-panel {
    display: block;
    transform: translate(-100%);
    transition: transform 0.7s ease-in-out;
}
.show-burger-panel {
    display: block;
    transition: all 0.7s;
    transform: translate(0);
}
.form__border {
    border-bottom: 1px solid white;
}


#submit-agreement[type='checkbox']:checked{
    background-color: hsla(0, 97%, 60%, 1);
}


.scrollbar-hide {
    -ms-overflow-style: none;  /* для IE и Edge */
    scrollbar-width: none;     /* для Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* для Chrome, Safari и Opera */
  }


